<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 rounded border">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold" href="/admin/suppliers">Manage coffee suppliers</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/admin/suppliers">Administrator home</a></li>
        <li class="nav-item"><a class="nav-link" href="/suppliers">Suppliers list</a></li>
        <li class="nav-item"><a class="nav-link" href="/">Customer home</a></li>
      </ul>
    </div>
  </div>
</nav>
